.button {
  font: inherit;
  border: 1px solid #646cff;
  background: #646cff;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:active {
  /* background: #848aff; */
  /* border-radius: 0px; */
  /* border: 1px solid #fff; */
  opacity: .7; 
  transition: .2s ease-in-out;
}

.button:focus {
  outline: none;
}
