.button {
  font: inherit;
  border: 1px solid #646cff;
  background: #646cff;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #646cff;
  border-color: #646cff;
}

.button:focus {
  outline: none;
}
