.new-user {
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.add-users__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.add-users__content label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.add-users__content input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  /*width: 20rem;*/
  width: 100%;
}

.add-users__actions {
  text-align: left;
}

.add-users__actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid #40005d;
  border-radius: 6px;
  background-color: #40005d;
  color: white;
  margin-right: 1rem;
}
